<input type="text" placeholder="SEARCH NAME" [(ngModel)]="query"/>
<select [(ngModel)]="cuisine">
    <option value="italian">italian</option>
    <option value=null>null</option>
</select>
<input type="number" placeholder="minimum calories" [(ngModel)]="minCalories"/>
<input type="number" placeholder="maximum calories" [(ngModel)]="maxCalories"/>
<button (click)="searchApi()">Search</button>

<div>
    <div *ngFor="let recipe of recipes">
        <p>{{recipe.title}}</p>
        <div>
            {{recipe.calories}}
            <button (click)="getInfo({{recipe.id}})">See more info...</button>
        </div>
        
    </div>
</div>