<app-navbar></app-navbar>
<input type="text" placeholder="SEARCH NAME" [(ngModel)]="query"/>
<select [(ngModel)]="cuisine">
    <option value=null>none selected</option>
    <option value="African">African</option>
    <option value="American">American</option>
    <option value="British">British</option>
    <option value="Chinese">Chinese</option>
    <option value="French">French</option>
    <option value="Greek">Greek</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Mexican">Mexican</option>
    <option value="Thai">Thai</option>
</select>
<input type="number" placeholder="minimum calories" [(ngModel)]="minCalories"/>
<input type="number" placeholder="maximum calories" [(ngModel)]="maxCalories"/>
<button (click)="searchApi()">Search</button>

<div id="page-body">
    <div [hidden]="lookingAtRecipe">
    <div *ngFor="let recipe of recipes">
            <span>{{recipe.id}}</span>
            <p>{{recipe.title}}</p>
            <p><button (click)="getInfo(recipe.id)">See more info...</button></p>
            <p></p>
        <button (click)="saveRecipe(recipe)">Save Recipe</button>
    </div>
</div>
</div>