<app-navbar></app-navbar>
    <h2>Hello</h2>
    <div id= "view-form">
        <p>

        </p>
    </div>
    <input type="button" (click)="viewUser()" value="view user"/>
    <div id="edit-form" >
    <div>
    <h6>Input info to update your account</h6>
        <p>Change password:</p>
        <input type="password" placeholder="PASSWORD" [(ngModel)]="password"/>
    </div>
        <p>Change diet:</p>
    <select  [(ngModel)]="diet">
        <option value=null>No Diet</option>
        <option value="GLUTEN_FREE">Gluten Free</option>
        <option value="PALEO">Paleo</option>
        <option value="KETOGENIC">keto</option>
    </select>
    <p>Change minimum calories:</p>
    <input type="number"  [(ngModel)]="minCalories" placeholder="min. calories"/>
    <p>Change maximum calories:</p>
    <input type="number"  [(ngModel)]="maxCalories" value="max. calories"/>

    <p>
        <input type="button" (click)="updateUser()" value="Update"/>
    </p>
</div>