<p>Recipes:</p>
<div>
    <app-search-api></app-search-api>
</div>
<!-- This will be where the api automatically presents recipes that match user diet -->
<div id="recipe_info" [hidden]="lookingAtRecipe"></div>
<div id="auto_recipes">
    <div *ngFor="let recipe of recipes">
            <span>{{recipe.id}}</span>
            <p>{{recipe.title}}</p>
            <p>{{recipe.calories}} {{recipe.description}}</p>
            <p><button (click)="viewRecipe(recipe.id)">See more info...</button></p>
            <p></p>      
    </div>
</div>
<!--show recipe form component if user has clicked a save recipe button-->
<app-recipe-form [hidden]="!saving"></app-recipe-form>