
<section>
<h2>Please Enter Your Username and Password:</h2>
<input type="text" id="username" placeholder="USERNAME" [(ngModel)]="username"/>
<input type="password" id="password" placeholder="PASSWORD" [(ngModel)]="password"/>
<button id = "loginbtn" (click)="loginFunc()">Login</button>
</section>
<h3> Or, Create a new account!</h3>
<button class="nav-link" routerLinkActive="active" routerLink="register">Create an Account</button>

    <!-- <app-update-user [username]="username"></app-update-user> -->


