
<app-navbar></app-navbar>

<form [formGroup]="RecipeForm" (ngSubmit)="onSubmit()">
    
<div>
    <label>
        Title:
        <input type="text" formControlName="title">
    </label>
</div>
<div>
    <label>
        Summary:
        <input type="text" formControlName="summary">
    </label>
</div>
<div>
    <label>
        Calories:
        <input type="number" formControlName="calories" min="0" oninput="validity.valid||(value='');">
    </label>
</div>
<div formArrayName="ingredients">
    <h3>Ingredients:</h3>
    <button type="button" (click)="addIngredient()">Add an Ingredient</button>
    <div *ngFor="let ingredient of ingredients.controls; let i = index;">
        <label>
            <input type="text" [formControlName]="i">
        </label>
        <button type="button" (click)="removeIngredient(i)">Remove Ingredient</button>
    </div>
</div>
<div formArrayName="steps">
    <h3>Steps:</h3>
    <button type="button" (click)="addStep()">Add a Step</button>
    <div *ngFor="let step of steps.controls; let i = index">
        <label>
            <input type="text" [formControlName]="i">
        </label>
        <button type="button" (click)="removeStep(i)">Remove Step</button>
    </div>
</div>
<div id="submit">
    {{RecipeForm.value | json}} 
</div>
<button type="button" (click)="onSubmit()"[disabled]="!RecipeForm.valid">Submit</button>
</form>
