<app-navbar></app-navbar>
<div *ngFor="let recipe of recipes">
    <span>{{recipe.id}}</span>
    <p>{{recipe.title}}</p>
    <p>{{recipe.description}}</p>

    <div *ngFor="let ingredient of recipe.ingredients">
        <p>{{ingredient.name}}</p>
    </div>

    <div *ngFor="let step of recipe.steps">
        <p>{{step.stepNum}} : {{step.body}}</p>
    </div>
    
    <p><button (click)="getInfo(recipe.id)">See more info...</button></p>
    
<button (click)="saveRecipe(recipe)">Save Recipe</button>
</div>