
<ng-container *ngIf="visibility==true">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="goToHome()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToUpdateUser()">update user</a>
            </li>
            <li class="nav-item">
 

            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToCookbook()">Look at Cookbook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToUploadPicture()">Upload a Picture</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" (click)="goToNewRecipe()">Make a new Recipe</a>
          </li>
          <li  class="nav-item">
               <a class="nav-link" (click)="goToLogOut()">Log out</a>

            </li>
        </ul>
    </nav>
</ng-container>
