<app-navbar></app-navbar>

<button type="button" class="button btn-success" (click)="getCustomerImages()">Get Images</button>

<ng-template [ngIf]="imageToShow">
  <ng-template [ngIf]="imageToShow.photo">
    <img ng-src="data:image/jpeg;base64,{{imageToShow}}" class="img-thumbnail" *ngIf="!isImageLoading;">
  </ng-template>
</ng-template>

    <h2>Upload a picture of your creation!:</h2>
    <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>
      
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
      
      <div class="alert alert-light" role="alert">{{ message }}</div>
      
      <div class="card">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>
    
    
     
      <div style="text-align:center">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <div><img [src]="url" *ngIf="url"></div>
      </div>
    

      <button class="btn btn-success" (click)="(getCustomerImages)">
        View my Images
      </button>
      <ng-template [ngIf]="imageToShow">
        <ng-template [ngIf]="imageToShow.photo">
            <img [src]="imageToShow.photo" class="img-thumbnail" *ngIf="!isImageLoading;">
        </ng-template>
      </ng-template>